ul{
    list-style: none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.logo{
    width: 35px;
    height: 35px;
}
.cardProduct{
    width: 19rem;
    margin: 20px;
    height: 40rem;
    justify-content:space-evenly;
}
.cardProducts {
    margin: 15px;
    align-items:flex-end;
    justify-content: center;
}

.itemDetail{
    max-width: 500px;
    margin-top: 20px;
}

.aboutUs{
    margin: 0 0 0 10px;
}
.form-control{
    width: 40vw;
    min-width: 300px;
}
.font-size{
    font-size: 20px;
}
